<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update POC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg" style="background-color: #6610f2">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white">MLTFapp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{request.url_root}}" style="color: white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{request.url_root}}login" style="color: white">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{request.url_root}}impact" style="color: white">Our Impact</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    </head>
    <body>
        <div class="container-sm">
            <br>
            <br>
            <br>
            <div class="col-md-8 offset-sm-2">
                <form action="/POCadded", method="post">
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Implementor</label>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <select class="form-control" id="impl_opts" name="impl_name">
                            {%for i in range(0,len_impl)%}
                            <option type="submit" name="impl_selected">{{impl_abbrev[i]}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">First Name</label>
                        <input type="text" class="form-control" id="new_implPOC" name="new_POC_Fname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Last Name</label>
                        <input type="text" class="form-control" id="new_implPOC" name="new_POC_Lname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Email</label>
                        <input type="text" class="form-control" id="new_POCemail" name="new_POC_email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Modile</label>
                        <input type="text" class="form-control" id="new_POCmobile" name="new_POC_mobile">
                    </div>
                    <button type="submit" class="btn btn-success" style="opacity: 0.8;">Add New Implementor POC</button>
                </form>
            </div>
        </div>
    </body>
</html> 